[2020-07-24 13:43] nikhita opened #2 "Update README"
The current README is the default README when a new repo is created - https://github.com/kubernetes/kubernetes-template-project/blob/master/README.md

It needs to be updated to include info specific to this repo.

[2020-07-24 15:34] mbbroberg commented on #2
Notes on what to add:

- What this bot does
- Why we're using it
- Limitations
- Examples

And note features like being able to schedule tweets to go out at specific times and dates.

/assign @rajula96reddy
/sig contributor-experience

[2020-07-27 15:27] rajula96reddy commented on #2
/assign @rajula96reddy

[2020-08-28 15:14] mbbroberg commented on #2
Rajula covered this one!

/close

[2020-08-28 15:14] #2 closed

[2020-08-28 15:22] mbbroberg opened #9 "Auto PR when new blog post comes up"
Do this with GitHub Actions

https://kubernetes.io/blog/

[2020-08-28 15:24] mbbroberg opened #10 "Revise README to for GA"
Reframing from a Marketing team tool to general availability, focusing on all contributors ability to use this tool.

[2020-08-28 15:39] mbbroberg opened #11 "Remove "generated from" notice?"
The `generated from kubernetes/kubernetes-template-project` message doesn't seem to be necessary at this point. Is that removable?

![Screen Shot 2020-08-28 at 10 38 56 AM](https://user-images.githubusercontent.com/1744971/91586229-ada64d00-e91a-11ea-8c67-cca64cd0557f.png)

[2020-09-09 10:02] rajula96reddy opened #14 "Disable github actions for twitter-together on forked repos"

[2020-09-18 08:37] gkarthiks opened #16 "[Request for New Tweet] WG Naming tweet request"
## Requesting for a tweet announcement on behalf of `WG Naming`

## Tweet content:
[code]

## Tweet time:
Please wait for the approval from @celestehorgan @jdumars @justaugustus @zacharysarah

## Urgency: Medium

/cc @kaslin

[2020-09-18 11:21] gkarthiks commented on #16
/assign kaslin

[2020-09-18 16:26] celestehorgan commented on #16
/approve

(if that doesn't work, LGTM!)

[2020-09-18 16:58] gkarthiks commented on #16
Update: removed `documentation clarity` as per @justaugustus comment.

[2020-09-18 18:11] kaslin commented on #16
@gkarthiks Did you get the lgtm's you were looking for or are you still waiting on a couple more?

[2020-09-18 18:18] gkarthiks commented on #16
@kaslin I got the lgtm, but we want to tweet this during first week of October. So created a PR and left it in hold for now.

[2020-09-18 18:18] justaugustus commented on #16
Let's do this ^^
- spell out Kubernetes and use the hashtag
- drop the Oxford comma

[2020-09-18 18:20] justaugustus commented on #16
(I'll comment on the PR)

[2020-09-18 18:32] kaslin commented on #16
Gotcha, yeah the timing thing can be a challenge. I'll set myself a reminder to check back in on that in the first week of October then. This is looking good, thanks for leading the charge to get it ready to go! 👍

[2020-10-06 16:37] mbbroberg commented on #10
The README is tidied up!

[2020-10-06 16:37] #10 closed

[2020-10-07 15:52] #16 closed

[2020-10-18 17:33] kaslin commented on #14
Didn't you do this a while ago? So it can be closed, right?

[2020-10-22 07:38] rajula96reddy commented on #14
This is a bit different I guess. The github-action is trying to tweet on some of the rebased commits on forked repos. Like [this](https://github.com/rajula96reddy/contributor-tweets/runs/1090496410). I will take a look again and fix this

[2020-11-25 23:07] mrbobbytables opened #25 "[Tweet Request] k8s celebration"
Hey there!

Would it be possible to tweet about the contributor celebration event?
https://k8s.dev/celebration

Initially we were a bit hesitant about tweeting about it - but after some discussion we decided to open it up a bit more :)

Paraphrasing this should be fine:
It's been a rough year, and without any in person events we've lost the best part of the Contributor Summits - the Hallway Track.

[2020-12-04 17:04] mbbroberg commented on #25
First one is here - https://twitter.com/K8sContributors/status/1331743117989605377

Adding another reminder for today! Closing as done ✅

[2020-12-07 22:31] #11 closed

[2020-12-18 15:34] mbbroberg commented on #9
Hey @rajula96reddy, I tried to work through a GitHub action here and had no luck. Tagging you in case this is straightforward for you :smile:

[2020-12-18 15:34] mbbroberg commented on #9
/remove stale

[2020-12-18 15:34] mbbroberg commented on #9
/remove-lifecycle stale

[2020-12-18 15:37] mbbroberg opened #31 "Possible for tweet to embed media?"
When using this tool, I noticed that the URL doesn't generate a "card" like it does when you tweet directly from a client. Example:

![Screenshot from 2020-12-18 09-36-06](https://user-images.githubusercontent.com/1744971/102632297-861b0080-4114-11eb-9372-86c11d48c797.png)

Example when a card is created:

![Screenshot from 2020-12-18 09-35-44](https://user-images.githubusercontent.com/1744971/102

[2020-12-18 15:50] rajula96reddy commented on #9
Hey @mbbroberg I like this idea. From what I understand, this is same as how we want to extract new posts from `k-dev`. There is an [RSS feed](https://kubernetes.io/feed.xml), which we might have to watch and trigger a tweet. I will take a closer look into this and come up with something.

[2020-12-18 16:01] rajula96reddy commented on #31
Hey! I just took a quick look into this. Seems like the card supported has to be enabled from the website through [html tags](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards) . I think our `k8s.dev` site doesn't have this support.

Try validating the `https://k8s.dev/celebration` in here https://cards-dev.twitter.com/validator

Ref: [Medium article](https://m

[2021-03-19 14:45] mbbroberg commented on #31
@rajula96reddy interesting! I don't know if that's what's happening here since the card will expand when I tweet directly but not through the tool. So I think both the site needs to have the card metadata AND the tool needs to choose whatever option is required to choose to preview it.

Let's keep poking around Twitter together to see if they have something. (Link for new people: https://github.co

[2021-03-19 14:49] mbbroberg commented on #31
/remove-lifecycle stale

[2021-03-19 15:42] mbbroberg commented on #31
TODO list out the websites to make sure we're testing accurately.

[2021-03-19 15:42] mbbroberg commented on #14
/close

[2021-03-19 15:42] #14 closed

[2021-03-19 15:44] mbbroberg commented on #9
We could get this done with some code to watch for events and trigger a response, but it won't be as simple as installing a GitHub Action.

/remove-lifecycle stale

[2021-06-11 15:24] rajula96reddy opened #40 "Testing "issue to PR" feature"
---
name: New tweet request
about: Create a new tweet request
title: "Testing issue to PR feature"
labels: tweet
assignees: ''kaslin"

---

**Provide the actual tweet content between the commented colons**

Test tweet

[2021-06-11 15:26] rajula96reddy commented on #40
@gkarthiks I was just trying the feature from https://github.com/kubernetes-sigs/contributor-tweets/pull/33 Am I doing anything wrong here?

[2021-06-11 19:21] gkarthiks opened #41 "Test tweet issue"
**Provide the actual tweet content below**

testing the pr 33

[2021-06-11 21:05] #41 closed

[2021-06-17 07:54] #40 closed

[2021-06-17 07:56] rajula96reddy opened #45 "Test: Creating a PR from a GH issue"
**Provide the actual tweet content between the commented colons**

Hello! This tweet is created from a GH issue, which was PRed automatically.

[2021-06-17 08:00] rajula96reddy commented on #45
/label tweet

[2021-06-17 08:00] rajula96reddy commented on #45
/kind tweet

[2021-06-18 05:19] gkarthiks commented on #45
hi @rajula96reddy , there is no label as `tweet`, so if you want to add it, you have to create that in these places

* https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml
* https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md

Especially for k/community here https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#labels-that-apply-to-k

[2021-06-18 13:15] rajula96reddy commented on #45
Hey @gkarthiks Thanks for the clarification. I did see the [action](https://github.com/kubernetes-sigs/contributor-tweets/runs/2846757798?check_suite_focus=true) is expecting a label.

@mrbobbytables Can we get your say on this? Should we create a new `tweet` label in the 'test-infra' or use an existing one?

[2021-06-18 15:51] mbbroberg opened #46 "Move from master => main as the branch name"
We're a little out of date on that. @rajula96reddy mentioned will affect CI and should be reviewed as part of this change.

[2021-06-19 20:02] gkarthiks commented on #45
Yup, this was one of the requirements for this Action (details here 👉  https://github.com/kubernetes-sigs/contributor-tweets/pull/33#issuecomment-779785933).

I have also created a PR for the label `kind/tweet` here 👉  https://github.com/kubernetes/test-infra/pull/22618. Once that's approved, I will update the actions to expect the label with the name `kind/tweet` instead of `tweet`.

/cc @mrbobby

[2021-06-30 19:24] parispittman opened #48 "annual reports"
**Provide the actual tweet content between the commented colons**

[2021-07-07 17:48] rajula96reddy commented on #45
/kind tweet

[2021-07-07 17:49] rajula96reddy commented on #45
@gkarthiks Thanks a lot for creating the label! :heart:

[2021-07-07 18:06] rajula96reddy opened #49 "Test2: Creating a PR from a GH issue"
Provide the actual tweet content between the commented colons

Hello! This tweet is created from a GH issue, which will be PRed automatically.

[2021-07-07 18:06] rajula96reddy commented on #49
/kind tweet

[2021-07-07 18:13] rajula96reddy commented on #49
@gkarthiks So I tried to test with the label here. but the action  to create a PR wasn't triggered https://github.com/kubernetes-sigs/contributor-tweets/actions/runs/1008990505. I think it might be because, the workflow expects the label as soon as the issue is created. But with the prow bot, we need to add it manually I guess. (Not sure if we can add it by default).
I guess we can add 'issue_comm

[2021-07-08 10:04] gkarthiks commented on #49
You are a little faster in validating :) I am about to make the changes that I mentioned here https://github.com/kubernetes-sigs/contributor-tweets/issues/45#issuecomment-864457008.

Making that PR and this should work after that.

[2021-07-08 10:15] gkarthiks commented on #45
@rajula96reddy Let's close this issue please.

[2021-07-08 10:25] #45 closed

[2021-07-08 10:25] gkarthiks commented on #46
Can we do this asap pls?

[2021-07-08 10:47] gkarthiks opened #52 "Test Tweet for automation"
**Provide the actual tweet content between the commented colons**

We have done some automation for tweeting via @K8sContributors handle.

[2021-07-08 11:03] gkarthiks commented on #52
/validate

[2021-07-08 11:07] gkarthiks commented on #49
/validate

[2021-07-08 11:09] gkarthiks commented on #49
@rajula96reddy seems the issue is not created with the proper template in this. The action couldn't able to parse it.

[code]

[2021-07-08 11:09] gkarthiks commented on #49
https://github.com/kubernetes-sigs/contributor-tweets/runs/3018378320?check_suite_focus=true#step:5:14

[2021-08-06 15:38] rajula96reddy opened #55 "1.23 Release Shadow application tweet"
**Provide the actual tweet content between the commented colons**

Want to be part of the K8s 1.23 release team 🔨 ? Shadow application ends on 13th August. Apply ASAP 📝! https://forms.gle/7As7hacvMhxBQaox8

[2021-08-06 15:41] #55 closed

[2021-08-12 18:34] nimbinatus opened #57 "August 2021 Community Meeting tweet request (Monday release)"
**Provide the actual tweet content between the commented colons**

Join us for the monthly #Kubernetes Community Meeting, the place for #k8s contributors to discuss current activities happening across the ecosystem. This month, SIG Release will be holding the retro for 1.22. Find more information on the mailing list or at https://www.kubernetes.dev/events/community-meeting/

[2021-08-12 18:36] nimbinatus commented on #57
/validate

[2021-08-12 18:38] nimbinatus commented on #57
/validate

[2021-08-12 18:39] nimbinatus commented on #57
/validate

[2021-08-13 17:30] Debanitrkl opened #59 "Tweets on Annual community report"
This will feature tweets regarding each specific SIGs requirement as mentioned in the [annual community report](https://www.cncf.io/reports/kubernetes-community-annual-report-2020/)
[code]
There are 30 such tweets with relevant links to be done, and the draft can be found [here](https://docs.google.com/document/d/1YwXC25yVtkfddJj-_2RSLCJFxZkw5H3kvKeSX_DZF5w/edit?usp=sharing)

[2021-08-16 17:35] #9 closed

[2021-08-16 17:35] #31 closed

[2021-08-17 00:54] parispittman commented on #48
/close

[2021-08-17 00:54] #48 closed

[2021-08-18 14:49] Debanitrkl commented on #59
Looking at the word limit for each tweet, we might require some tweets to be in threads, is that possible with this github-actions
@gkarthiks @palnabarun

[2021-08-24 12:17] gkarthiks commented on #59
hi @Debanitrkl , as of now we are using a third party tweet action. It doesn't;t support the threaded model yet.

[2021-08-25 10:48] sftim opened #60 "Announce NGINX Ingress Controller v1.0"
**Provide the actual tweet content between the commented colons**

The NGINX Ingress Controller is now generally available - https://twitter.com/rpkatz/status/1430229296136794116 - and requires the v1 Ingress API. See https://kubernetes.github.io/ingress-nginx/ for more details. Authors: make sure YOUR code is ready for v1 Ingress.

[2021-08-31 20:01] Atharva-Shinde commented on #59
/kind tweet

[2021-08-31 20:01] Atharva-Shinde commented on #59
kind/tweet

[2021-08-31 20:20] kaslin opened #63 "Contributor Summit NA 2021"
**Provide the actual tweet content between the commented colons**

If you’re considering registering for the Contributor Summit at KubeCon, virtually or in person, PLEASE REGISTER ASAP. Due to a low number of registrations, we’re considering downsizing or canceling the main Contributor Summit event. Read more here: https://groups.google.com/g/kubernetes-dev/c/cR7wQEjzFvo

[2021-08-31 20:51] kaslin commented on #63
This tweet actually works on twitter, but not through Twitter Together due to the link. Tweeted manually.
\close

[2021-08-31 20:53] #63 closed

[2021-09-02 08:30] Debanitrkl opened #69 "Tweet on SIG Architecture"
**Provide the actual tweet content between the commented colons**

SIG Architecture is looking for  SREs to review KEPs, Production Readiness Reviews, and API Reviewers, also contributors to help curate a mentoring program for people to work across SIGs.

[2021-09-02 08:31] Debanitrkl commented on #69
/validate

[2021-09-02 08:45] Debanitrkl commented on #69
/validate

[2021-09-02 08:47] Debanitrkl commented on #69
/validate

[2021-09-02 08:50] Debanitrkl commented on #69
/validate

[2021-09-02 08:57] Debanitrkl commented on #69
/validate

[2021-09-03 14:34] Debanitrkl opened #71 "Tweet on SIG Cloud Provider"
**Provide the actual tweet content between the commented colons**

Looking for Cloud Engineers for SIG Cloud Provider to help run the cloud provider extraction working group specifically with kubernetes/kubernetes “cluster” directory and resolving how we properly test kubernetes/kubernetes in the absence of a cloud provider

[2021-09-03 15:27] Debanitrkl commented on #71
For more information click here: https://github.com/kubernetes/community/tree/master/sig-cloud-provider

[2021-09-03 15:29] Debanitrkl commented on #69
SIG Architecture is looking for:

- SREs to review KEPs, Production Readiness Reviews, and API Reviewers
- Contributors to help curate a mentoring program for people to work across SIGs

For more information click here: https://github.com/kubernetes/community/tree/master/sig-architecture

@chris-short

[2021-09-08 19:13] lakshya8066 opened #73 "Tweet on SIG-Cluster Lifecycle"
**Provide the actual tweet content between the commented colons**

SIG Cluster Lifecycle is looking for contributors to help us with Etcdadm, Cluster-addons & Kubeadm. Are you a user and looking for a way to give back?
Click here for more information: https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle

[2021-09-09 07:10] #71 closed

[2021-09-09 07:11] #69 closed

[2021-09-09 16:26] #73 closed

[2021-09-09 16:27] Debanitrkl opened #75 "Tweet on SIG-UI"
**Provide the actual tweet content between the commented colons**

Do you like to play around with AngularJS, golang, and client-go? SIG UI is looking for such contributors to help them build an intutitve dashboard. For more information click here: https://github.com/kubernetes/community/tree/master/sig-ui

[2021-09-09 16:38] Debanitrkl opened #77 "Tweet on SIG Cloud Provider"
**Provide the actual tweet content between the commented colons**

Looking for Cloud Engineers for SIG Cloud Provider to help run the cloud provider extraction working group specifically with k8s/k8s “cluster” directory and resolving how we properly  test in the absence of a cloud provider.Visit here for more information:https://bit.ly/2YBf2nL

[2021-09-09 16:40] Debanitrkl commented on #77
/validate

[2021-09-09 16:43] Debanitrkl commented on #77
/validate

[2021-09-09 17:04] chris-short commented on #52
Is it safe to close this?

[2021-09-09 17:04] chris-short commented on #49
Is it safe to close this?

[2021-09-09 17:05] chris-short commented on #46
Is it safe to close this?

[2021-09-09 17:05] chris-short commented on #57
@nimbinatus Did this go out as intended?

[2021-09-09 17:47] nimbinatus commented on #57
I don't think so. I don't remember seeing it. I don't believe the email went out either, though.

[2021-09-10 15:17] gkarthiks commented on #46
we haven't moved the branch from master to main yet though.

[2021-09-10 15:18] gkarthiks commented on #49
yes. Thank you Chris.

[2021-09-10 15:19] gkarthiks commented on #52
yes Chris. I will close this.

[2021-09-10 15:19] #52 closed

[2021-09-10 17:27] Atharva-Shinde opened #79 "Tweet on SIG Windows"
**Provide the actual tweet content between the commented colons**

SIG Windows is looking for new contributors to help with end to end test coverage and folks to help with API reviews to grow into SIG Windows Reviewers! For more information click here ➡️ https://github.com/kubernetes/community/tree/master/sig-windows

[2021-09-10 17:35] #75 closed

[2021-09-10 17:54] chris-short commented on #46
Do we need to coordinate the timing of this or is it safe to do at will?

[2021-09-11 07:33] gkarthiks commented on #46
We can do at will. All we have to do is, change the GH actions file to point the default branch as "main" from "master" once done.

[2021-09-11 13:29] sftim opened #81 "Announce NGINX Ingress Controller v.10"
**Provide the actual tweet content between the commented colons**

The NGINX Ingress Controller is now generally available - https://twitter.com/rpkatz/status/1430229296136794116 - and requires the v1 Ingress API. See https://kubernetes.github.io/ingress-nginx/ for more details.

Replaces #60

[2021-09-11 13:29] sftim commented on #60
Closing in favor of #81

[2021-09-11 13:29] #60 closed

[2021-09-12 19:35] sandipanpanda opened #83 "Help wanted in WG K8s Infra tweet"
**Provide the actual tweet content between the commented colons**

WG K8s Infra is looking for contributors to help migrate resources from Google owned infrastructure to community owned, mostly to help with prow jobs. For more information visit: https://github.com/kubernetes/community/tree/master/wg-k8s-infra and https://bit.ly/2Wo6ShX

[2021-09-12 19:36] sandipanpanda commented on #83
/validate

[2021-09-12 19:41] sandipanpanda commented on #83
/validate

[2021-09-12 20:02] sandipanpanda commented on #83
/validate

[2021-09-12 20:04] sandipanpanda commented on #83
/validate

[2021-09-13 11:20] chris-short commented on #46
I'm not sure how to do that to this repo. The options aren't available to me.

Any idea @mrbobbytables @parispittman?

[2021-09-13 12:38] mrbobbytables commented on #46
I or another repo admin can take care of renaming the branch, the [github actions](https://github.com/kubernetes-sigs/contributor-tweets/blob/master/.github/workflows/main.yml) will just have to updated `s/master/main/g`.  I'd suggest opening a PR with the changes, then we do the swap and merge the PR.

Once complete, a mail just has to be sent to the contribex mailing list stating that the branch

[2021-09-13 14:49] Debanitrkl commented on #83
@sandipanpanda remove the second link that is not required

[2021-09-13 17:48] #81 closed

[2021-09-13 19:15] sandipanpanda commented on #83
I find the linked blog very useful and beginner friendly, especially for new contributors. Will it be a problem if it is kept?

[2021-09-13 19:19] sandipanpanda commented on #83
/validate

[2021-09-13 19:24] sandipanpanda commented on #83
/validate

[2021-09-13 19:27] chris-short commented on #83
/validate

[2021-09-13 19:47] sandipanpanda commented on #83
I commented / validate after updating the issue, but it's not getting updated in the PR #84. Yesterday I run / validate after updating the PR and the commmit got force pushed: https://github.com/kubernetes-sigs/contributor-tweets/pull/84#event-5289551302.  There was no issue. Also, I am getting this: https://github.com/kubernetes-sigs/contributor-tweets/actions/runs/1230933687.

[2021-09-13 20:05] sandipanpanda commented on #83
/validate

[2021-09-14 01:36] Debanitrkl commented on #83
No, it's not a problem I only drafted this tweet and added that link but since characters were increasing so we can put the other link as a thread. Also avoid line breaks and then run /validate it will update fine. It's just a problem with the bot😅

[2021-09-14 04:34] gkarthiks commented on #46
I will do the PR on the actions.

[2021-09-14 04:56] Debanitrkl opened #85 "Tweet regarding SIG Docs"
**Provide the actual tweet content between the commented colons**

SIG Docs is looking for new contributors, potential reviewers, and folks to help triage issues. Join the group to discuss more! https://github.com/kubernetes/community/tree/master/sig-docs

[2021-09-14 09:51] Atharva-Shinde opened #87 "Tweet regarding SIG CLI"
**Provide the actual tweet content between the commented colons**

SIG CLI is looking for it’s first Product/Feature Manager. Join the group to discuss more! ➡️ https://github.com/kubernetes/community/tree/master/sig-cli

[2021-09-14 12:07] sandipanpanda commented on #83
/validate

[2021-09-14 12:22] sandipanpanda commented on #83
I run / validate after removing the line breaks but it didn't work, the updates to the issue didn't get merged in the tweet PR. The problem: https://github.com/kubernetes-sigs/contributor-tweets/actions/runs/1233540224

I think its better I close this issue and the corresponding PR and make a fresh issue for the tweet.

[2021-09-14 12:27] #83 closed

[2021-09-14 17:05] #77 closed

[2021-09-14 17:33] lakshya8066 opened #89 "Tweet on WG Multitenancy"
**Provide the actual tweet content between the commented colons**

WG Multitenancy is looking for new contributors to work on virtual cluster project, hierarchical namespace, and multi-tenancy profiles. For more information, click here: https://github.com/kubernetes/community/tree/master/wg-multitenancy

[2021-09-14 19:25] Debanitrkl commented on #59
Yeah good suggestion we can write done against the tweet already tweeted

[2021-09-15 12:59] Debanitrkl opened #91 "Tweet on SIG-Testing"
**Provide the actual tweet content between the commented colons**

Interested in running tests and analyzing test results to ensure Kubernetes is stable across a variety of cluster configurations and cloud providers.Then SIG Testing Group is looking for you! For more information visit: https://bit.ly/3tQpm7a

[2021-09-15 18:29] Atharva-Shinde opened #93 "Tweet on SIG API Machinery"
**Provide the actual tweet content between the commented colons**

Interested in various opportunities Kubernetes has to provide related to API? Then SIG API Machinery is looking for contributors to : Contribute to Client Libraries like client-go, python-client, and for performing triage. For more information click here ➡️ https://bit.ly/3kdPCVS

[2021-09-15 18:30] Atharva-Shinde commented on #93
/validate

[2021-09-15 18:36] Atharva-Shinde commented on #93
/validate

[2021-09-15 19:59] #79 closed

[2021-09-15 20:26] sandipanpanda opened #95 "Help wanted in SIG Usability"
**Provide the actual tweet content between the commented colons**

SIG Usability is currently working on a jobs to be done study and an effort to define universal personas for the upstream project. Welcoming user researchers, designers and new contributors to help. More info in: https://github.com/kubernetes/community/tree/master/sig-usability.

[2021-09-15 20:35] sandipanpanda opened #97 "Help wanted in WG K8s Infra"
**Provide the actual tweet content between the commented colons**

WG K8s Infra is looking for contributors to help migrate resources from Google owned infrastructure to community owned, mostly to help with prow jobs. For more information visit: https://github.com/kubernetes/community/tree/master/wg-k8s-infra and https://bit.ly/2Wo6ShX

[2021-09-16 03:21] Debanitrkl commented on #95
@sandipanpanda we aren't tweeting this now because the first part of the tweet isn't clear yet, we need more information from Sig-Usability.

[2021-09-16 03:47] Debanitrkl commented on #95
/close

[2021-09-16 03:47] #95 closed

[2021-09-16 17:01] lakshya8066 commented on #89
/validate

[2021-09-16 20:33] #85 closed

[2021-09-17 10:49] Debanitrkl commented on #89
/validate

[2021-09-17 13:22] Debanitrkl opened #99 "Tweet on SIG-Instrumentation"
**Provide the actual tweet content between the commented colons**

SIG Instrumentation is looking for contributors interested to work on structured logging and promq. For more information click here: https://github.com/kubernetes/community/tree/master/sig-instrumentation

[2021-09-17 15:19] Debanitrkl opened #101 "/validate command don't work as desired"
After making any changes to the issue labelled `kind/tweet` we need to run ` /validate` command to update the related PR, but it doesn't seem to work as desired.
It's related to this https://github.com/kubernetes-sigs/contributor-tweets/issues/83#issuecomment-918520748 & https://github.com/kubernetes-sigs/contributor-tweets/issues/89.

cc @gkarthiks

[2021-09-17 17:31] #87 closed

[2021-09-17 17:40] Atharva-Shinde opened #102 "Tweet on SIG Scalability"
**Provide the actual tweet content between the commented colons**

Are you interested in defining and driving scalability goals for Kubernetes? SIG Scalability is looking for contributors who are familiar with Scalability Test Frameworks, Performance tests with a deep understanding of Kubernetes. Click here to join now ➡️ https://bit.ly/3EpTRWh

[2021-09-17 17:42] Atharva-Shinde commented on #102
/validate

[2021-09-17 17:44] Atharva-Shinde commented on #101
its working for me here #102  #93

[2021-09-17 18:24] Debanitrkl commented on #101
Yeah worked for me too but wasn't working for the mentioned issues. It's weird but don't know why it's happening so

[2021-09-18 08:06] gkarthiks commented on #101
let me take a look at https://github.com/kubernetes-sigs/contributor-tweets/issues/89 and circle back.

[2021-09-20 16:54] #89 closed

[2021-09-22 17:58] #93 closed

[2021-09-23 22:22] #97 closed

[2021-09-24 15:17] #99 closed

[2021-09-24 18:21] sandipanpanda opened #105 "Help wanted in SIG K8s Infra"
**Provide the actual tweet content between the commented colons**

SIG K8s Infra is looking for contributors to help migrate resources from Google owned infrastructure to community owned, mostly to help with prow jobs. For more information visit: https://github.com/kubernetes/community/tree/master/sig-k8s-infra.

[2021-09-30 12:56] #102 closed

[2021-10-01 18:04] #105 closed

[2021-10-02 03:31] Debanitrkl opened #107 "Tweet on SIG Node"
**Provide the actual tweet content between the commented colons**

SIG Node is looking for contributors to help to track their CI dashboard and look upon the failing and flaky tests. CI Dashboard: https://testgrid.k8s.io/sig-node. For more information click here: https://github.com/kubernetes/community/tree/master/sig-node

[2021-10-04 16:01] #107 closed

[2021-10-05 05:52] Debanitrkl opened #109 "Tweet on SIG Auth"
**Provide the actual tweet content between the commented colons**

SIG Auth is looking for contributors to help them with,
KMS-Plugin: https://bit.ly/3ld2Y5f;
Audit logging: https://bit.ly/3a4HQHQ;
For more information click here: https://github.com/kubernetes/community/tree/master/sig-auth

[2021-10-05 19:08] #109 closed

[2021-11-02 12:01] sreekaransrinath opened #111 "Announcement: KubeCon Talks are now available to watch on-demand"
**Provide the actual tweet content between the commented colons**

For anyone that missed attending @KubeCon_ or wants to re-watch the talks, they're all now live on @CloudNativeFdn's YouTube channel!

https://www.youtube.com/playlist?list=PLj6h78yzYM2Nd1U4RMhv7v88fdiFqeYAP

[2021-11-03 14:09] #111 closed

[2021-11-10 17:56] chris-short commented on #46
The Actions work is merged @mrbobbytables. I can draft an email when you're ready.

[2021-11-10 18:07] chris-short opened #113 "Scheduling Tweets"
Our current system for sending tweets sends the tweet out as soon as the PR is merged. This is a great setup but, it'd be AWESOME to be able to have a timestamp for when the tweet should be sent.

[2021-11-10 18:12] chris-short opened #114 "Tweet k-dev Messages"
We would like to be able to have message sent to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev) mailing list to be imported as a PR for review and eventual approval.

In my opinion, this should be something fairly well formatted. The subject and link to the message might be all that's needed. 

These tweets should not go out automatically (at least at first). We want a human to verif

[2021-11-10 18:15] chris-short opened #115 "Tweet about blog posts"
It would make sense to automate social media creation whenever a new blog gets posted to kubernetes.dev. The message should have a simple format like...

*   Title
*   Description (truncated as needed)
*   URL

I'd say these COULD be automatic once we figure out how to generate the PR and we're good on quality.

[2021-11-10 18:21] chris-short commented on #113
/sig contributor-experience
/area contributor-comms
/label help-wanted

[2021-11-10 18:21] chris-short commented on #113
/area contributor-comms

[2021-11-10 18:22] chris-short commented on #114
/sig contributor-experience

[2021-11-10 18:22] chris-short commented on #115
/sig contributor-experience

[2021-11-10 18:26] chris-short commented on #115
area/contributor-comms

[2021-11-10 18:27] chris-short commented on #49
/close

[2021-11-10 18:28] #49 closed

[2021-11-10 20:11] Atharva-Shinde commented on #114
/assign

[2021-11-12 16:54] sreekaransrinath opened #116 "Tweet about processes for creating and sharing surveys in the community"
Hey contributors! Thinking of getting some feedback from the community in the form of surveys?

We have an official process with regulatory requirements for surveying K8s contributors.

We also have resources to help. Check it out!

https://www.kubernetes.dev/resources/services/#surveys

Requirements for surveying the community were brought up in the 12th Nov 2021 SIG ContribEx Weekly Marketing Me

[2021-11-12 16:58] sreekaransrinath commented on #116
![image](https://user-images.githubusercontent.com/50989977/141505114-1e0da376-9aa4-42c4-b8d2-253a7dcfc1b0.png)

While it's 7 characters over the limit, it does fit in, and I was able to tweet it as a test. I believe the characters in the link would be shortened once twitter puts it through its link-shortening system. We should be good to go.

[2021-11-13 13:14] chris-short commented on #116
/validate

[2021-11-13 13:42] sreekaransrinath commented on #116
@chris-short an official k8s shortener url would be helpful in cases like these. k8s.io maybe?

[2021-11-13 13:42] sreekaransrinath commented on #116
If it's not yet a thing, I'd be happy to help build it out

[2021-11-13 18:48] chris-short commented on #116
Oh it's a thing: [https://github.com/kubernetes/k8s.io/tree/main/apps/k8s-io](https://github.com/kubernetes/k8s.io/tree/main/apps/k8s-io)

Let me know if you'd like me to handle this. But, if you're comfortable, feel free.

[2021-11-29 22:16] sftim opened #118 "Announce mermaid.js article"
**Provide the actual tweet content between the commented colons**

Announce https://github.com/kubernetes/contributor-site/pull/255

_This should be tweeted on 2021-12-01_

New on the Kubernetes contributor blog: Improve your documentation with Mermaid.js diagrams https://k8s.dev/blog/2021/12/01/improve-your-documentation-with-mermaid.js-diagrams/

[2021-11-29 22:18] sftim commented on #118
I see no PR, GitHub Actions.

[2021-11-29 22:18] sftim commented on #118
https://github.com/kubernetes-sigs/contributor-tweets/actions/runs/1518146419 implies the workflow failed.

[2021-11-30 02:57] Debanitrkl commented on #118
Did you put the tweet content within the space asked for?

[2021-11-30 10:50] sftim commented on #118
It's like this:
[code]

[2021-11-30 11:05] Debanitrkl commented on #118
/validate

[2021-11-30 11:08] Debanitrkl commented on #118
@sftim So sometimes, there's this weird issue whenever there's a line break before the link this bot fails to parse it. I would suggest to edit and remove the line break before the link.

[2021-11-30 11:41] sftim commented on #118
/validate

[2021-11-30 12:19] Debanitrkl opened #119 "Announcement on mermaid.js"
**Provide the actual tweet content between the commented colons**

New on the Kubernetes contributor blog: Improve your documentation with Mermaid.js diagrams

[2021-11-30 12:22] Debanitrkl commented on #119
/validate

[2021-11-30 12:24] #119 closed

[2021-11-30 12:26] Debanitrkl commented on #118
There's some issue with the bot, I tried to test it [here](https://github.com/kubernetes-sigs/contributor-tweets/issues/119), and seems like it's not creating the PR
cc @gkarthiks @rajula96reddy

[2021-11-30 17:14] rajula96reddy commented on #118
/validate

[2021-11-30 17:22] rajula96reddy commented on #118
Our issue to PR automation seems to be [broken](https://github.com/kubernetes-sigs/contributor-tweets/runs/4370908041?check_suite_focus=true#step:6:69) after https://github.com/kubernetes-sigs/contributor-tweets/pull/104

@sftim  Sorry for this. If this tweet is important, I would recommend creating a PR directly to get the tweet out.

@Debanitrkl Thanks for validating and checking. I will create

[2021-11-30 17:26] rajula96reddy opened #120 "Issue to PR automation seems to be broken"
Our issue to PR automation seems to be broken after #104

We see the following error in the [action log](https://github.com/kubernetes-sigs/contributor-tweets/runs/4370908041?check_suite_focus=true#step:6:69)
[code]

We observed this in one of the recent issues https://github.com/kubernetes-sigs/contributor-tweets/issues/118

[2021-12-01 11:14] sftim commented on #118
I opened https://github.com/kubernetes-sigs/contributor-tweets/pull/121

[2021-12-03 16:32] chris-short commented on #120
/assign me

[2021-12-03 16:32] chris-short commented on #120
/assign

[2021-12-07 01:01] gkarthiks commented on #118
I was out on medical emg. Back on work. Let me look it up in the coming weeks.

[2021-12-10 16:51] Atharva-Shinde commented on #59
/close

[2021-12-10 16:51] #59 closed

[2021-12-16 12:02] Atharva-Shinde commented on #120
I suppose this may be happening because the GitHub actions (we are using in our tweet automation) were created at time when 'master' was the default branch.
As the default branch is now changed to 'main', I think we could try using latest versions of respective GitHub actions in our code.
I am suggesting this because the automation seemed to be working perfectly before changing master -> main

[2021-12-23 12:19] Atharva-Shinde commented on #120
I guess we should change the name of contributor/tweets repository's default branch from **'master**' to **'main'**
I tried out in my local repository and it worked!

[2021-12-23 12:20] Atharva-Shinde commented on #120
We should change the name of contributor/tweets repository's default branch from **'master**' to **'main'**
I tried out in my local repository and it worked!

[2022-01-06 13:08] chris-short commented on #120
This should be resolved. We'll need to tweet something to confirm though.

[2022-01-07 16:35] Debanitrkl opened #123 "Tweet for dockershim deprecation blog post"
**Provide the actual tweet content between the commented colons**

Kubernetes is moving on from dockershim, are you ready? Here's the first article of the year highlighting the process and timeline of dockershim deprecation. https://kubernetes.io/blog/2022/01/07/kubernetes-is-moving-on-from-dockershim/

[2022-01-07 16:46] #123 closed

[2022-01-07 16:53] Atharva-Shinde commented on #120
it worked!  #124

[2022-01-07 16:55] Atharva-Shinde commented on #46
#120

[2022-01-09 04:50] Debanitrkl commented on #120
Fixed
/close

[2022-01-09 04:50] #120 closed

[2022-01-09 04:51] Debanitrkl commented on #101
fixed
/close

[2022-01-09 04:51] #101 closed

[2022-01-10 12:31] Debanitrkl opened #125 "Tweet regarding Meet Our Contributor blog post"
**Provide the actual tweet content between the commented colons**

Check out our first article from the Meet Our Contributors blog series, highlighting five amazing folks from the India region who actively contribute to the upstream Kubernetes projects.
https://kubernetes.io/blog/2022/01/10/meet-our-contributors-india-ep-01/

[2022-01-10 15:04] Debanitrkl commented on #125
/validate

[2022-01-10 15:06] Debanitrkl opened #127 "Tweet regarding Meet Our Contributor blog post series"
**Provide the actual tweet content between the commented colons**

Check out our first article from the Meet Our Contributors blog series, highlighting five amazing folks from the India region who actively contribute to the upstream Kubernetes projects.
https://kubernetes.io/blog/2022/01/10/meet-our-contributors-india-ep-01/

[2022-01-10 15:11] #127 closed

[2022-01-10 15:16] Debanitrkl commented on #125
/validate

[2022-01-21 16:59] Debanitrkl opened #129 "Tweet on the kubernetes documentary"
**Provide the actual tweet content between the commented colons**

Kubernetes contributors!!!
Here is an exciting documentary by @honeypotio on the evolution of Kubernetes as an opensource project.
https://www.youtube.com/watch?v=BE77h7dmoQU

[2022-01-21 17:00] #125 closed

[2022-01-21 17:05] #129 closed

[2022-01-25 20:01] #46 closed

[2022-01-31 18:28] AvineshTripathi opened #131 "Tweet related to triage-accepted label"
**Provide the actual tweet content between the commented colons**
As discussed in meet this is one of evergreen tweets.

Did you know what triage-accepted label on an issue or PR mean? It indicates that the issue or PRs is ready to be actively worked on so next time you see that label grab it  and happy contributing

[2022-01-31 19:50] #131 closed

[2022-02-03 14:01] PurneswarPrasad opened #133 "Tweet on Devstats"
**Provide the actual tweet content between the commented colons**

[2022-02-03 14:03] #133 closed

[2022-02-03 14:06] PurneswarPrasad opened #134 "Tweet on Devstats"
**Provide the actual tweet content between the commented colons**

Do you know where to track your Kubernetes contributions?
Check out DevStats for k8s(https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1). Here you can filter by time range, type of contribution, repository name and group, country and keep track of all kinds of metrics. Happy contributing!

[2022-02-03 15:54] #134 closed

[2022-02-03 15:57] PurneswarPrasad opened #136 "Tweet about Devstats(evergreen tweet)"
**Provide the actual tweet content between the commented colons**

Do you know where to track your K8s contributions? Check out DevStats(https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group). Filter by time range, type of contribution, repository name, country and keep track of all kinds of metrics. Happy contributing!

[2022-02-03 16:12] PurneswarPrasad commented on #136
/validate

[2022-02-03 16:18] PurneswarPrasad commented on #136
/validate

[2022-02-04 00:58] #136 closed

[2022-02-04 05:14] Atharva-Shinde opened #138 "Tweet: Migrating to the new mailing list"
**Provide the actual tweet content between the commented colons**

ICYMI: The primary Kubernetes contributor mailing list has been migrated to a new address as of January 2, 2022: https://groups.google.com/a/kubernetes.io/g/dev. All members have already been migrated to the new mailing list, there’s no need to resubscribe.

[2022-02-04 14:59] mrbobbytables opened #140 "EasyCLA announcement"
**Provide the actual tweet content between the commented colons**

Reminder for all  Kubernetes contributors, the EasyCLA migration is happening tomorrow! (Saturday, Feb 5th)
See k-dev for more info: https://groups.google.com/a/kubernetes.io/g/dev/c/zLafm-qJ-yg/m/oosZVnxMAwAJ

[2022-02-04 15:29] parispittman commented on #138
could we do something less wordy since its twitter and also cut the date? something like -

The contributor mailing list has been migrated dev@kubernetes.io. Everyone has been migrated from the old list; there's no need to resubscribe.

[2022-02-04 16:31] Debanitrkl opened #142 "Tweet Regarding v.1.24 Enhancements Freeze"
**Provide the actual tweet content between the commented colons**

#ICYMI The enhancement freeze is in place for the @kubernetesio v.1.24 release cycle from 6:00 PM PT today.

[2022-02-04 16:32] Debanitrkl commented on #142
/assign @chris-short @kaslin

[2022-02-04 16:41] Atharva-Shinde commented on #138
/validate

[2022-02-04 17:20] #138 closed

[2022-02-04 18:06] #140 closed

[2022-02-04 19:21] #142 closed

[2022-02-05 18:44] PurneswarPrasad opened #144 "Tweet for affiliation in CNCF gitdm regarding Devstats(evergreen tweet)"
**Provide the actual tweet content between the commented colons**

If you're contributing to Kubernetes, make sure to add/update your affiliation here (https://github.com/cncf/gitdm#addingupdating-affiliation) to make the Devstats for k8s dashboard accurate and up-to-date as well as get necessary credit for your contributions to the project!

[2022-02-07 14:01] #144 closed

[2022-02-11 07:54] AvineshTripathi opened #146 "tweet related to community meeting"
**Provide the actual tweet content between the commented colons**

We're rebooting the monthly community meetings for upstream contributors this month! Join us Thursday, 17 Feb 2022 at 1800 UTC for discussion around topics such as dockershim removal, the reliability bar proposal, and more. bit.ly/k8scommunity

[2022-02-14 14:13] #146 closed

[2022-02-15 18:57] AvineshTripathi opened #148 "community meeting tweet"
**Provide the actual tweet content between the commented colons**
This should go few hours before the community meeting

In just a few hours, we've got the monthly community meeting for upstream contributors! Join us at 1800 UTC for discussion around important topics for the community. Learn more at bit.ly/k8scommunity

[2022-02-18 15:56] Atharva-Shinde commented on #114
/remove-lifecycle stale

[2022-02-18 18:13] kaslin opened #150 "ReleaseTeamSurvey Tweet1 2022"
Attempting to create a new tweet to promote the end of cycle survey for the release team. We should tweet about this repeatedly, especially more toward the end of the cycle.

If you are a member of the release team, please keep an eye out for the end of cycle survey as the cycle come to a close! Your feedback about your experience as a member of the release team is valuable, and the team would app

[2022-02-19 22:37] chris-short commented on #150
/hold

[2022-02-19 22:38] chris-short commented on #150
@reylejano The day you send the report is when we should send this.

[2022-02-20 00:16] jeremyrickard commented on #150
I think it makes sense to do this probably around the time we send the survey. However, we already remind folks in the release team meetings and via email, is a tweet going to be more targeted than those avenues?

[2022-02-20 14:40] chris-short commented on #150
Paris says (and I agree hence why I'm quoting), "It feels like half our audience gets their info from email and the other half gets it through social media."

I believe the dockershim debacle is a clear example of that. So, with all that being said, yes, I think it smart to tweet, in general.

But, it really depends on who is the target. If it's contributors, this is the right place and method. If

[2022-02-20 14:42] chris-short commented on #150
Oh... We also have a mass message Slack tool if you need to message out to multiple channels at once. We can use that too.

[2022-02-25 19:07] Atharva-Shinde commented on #113
/remove-lifecycle stale

[2022-03-07 09:26] sftim commented on #118
Bit late now
/close

[2022-03-07 09:26] #118 closed

[2022-03-09 09:36] Debanitrkl commented on #150
@kaslin midcycle survey is out, we could have a tweet on that

[2022-03-09 22:55] kaslin opened #152 "Release Cadence Survey"
**Provide the actual tweet content between the commented colons**

Contributors, please help us determine when Kubernetes should release by filling out the release cadence survey! Kubernetes currently releases 3 times per year, and would like your feedback on this cadence. https://www.surveymonkey.com/r/k8s-cadence-2022

Creating a tweet to promote the release cadence survey per https://github.com

[2022-03-09 23:06] csantanapr opened #154 "Tweet: Livestream Kubernetes Office Hours"
**Provide the actual tweet content between the commented colons**

Join the Kubernetes Office Hours this Wednesday with hosts @csantanapr and @rawkode

This month is SIG-Docs edition with our guest @Divya_Mohan02

https://youtu.be/KJMka1ZzVUQ

Send out a tweet on Monday, March 14th

[2022-03-10 01:57] Debanitrkl commented on #154
/validate

[2022-03-11 01:26] jberkus commented on #152
/lgtm

[2022-03-15 19:08] #154 closed

[2022-03-16 18:38] AvineshTripathi opened #156 "March community meeting"
**Provide the actual tweet content between the commented colons**

The monthly community meeting is going to happen today. Join us at 6pm UTC to have discussion with upstream contributors on topics like reliability, release cadence and many more. Meeting notes http://bit.ly/k8scommunity

[2022-03-23 15:59] AvineshTripathi commented on #156
the tweet was done manually

[2022-03-23 15:59] #156 closed

[2022-03-28 16:18] Debanitrkl opened #158 "Tweet regarding code freeze for v1.24 release cycle"
**Provide the actual tweet content between the commented colons**

#ICYMI the code freeze for v1.24 release cycle is coming up on 01:00 UTC Wednesday 30th March 2022, please make sure your PRs in K/K repository is merged/approved before this, in case you tend to miss the deadline please file an exception request.

[2022-03-28 16:27] #158 closed

[2022-03-31 12:53] #150 closed

[2022-03-31 13:26] chris-short opened #160 "Kubernetes Release Cadence Survey 2022"
**Provide the actual tweet content between the commented colons**

Kubernetes Release Cadence Survey 2022 is still running.

WHO SHOULD FILL OUT THIS SURVEY: @kubernetesio project contributors. Users of Kubernetes. Staff of companies that use, resell, and/or host Kubernetes.

More quality inputs, lead to better outcomes.

https://www.surveymonkey.com/r/k8s-cadence-2022

[2022-03-31 13:27] chris-short commented on #160
/validate

[2022-03-31 13:52] chris-short commented on #160
Oh that's right... Validate is still busted.

[2022-03-31 13:53] chris-short opened #161 "Release Cadence Survey 2022"
**Provide the actual tweet content between the commented colons**

Kubernetes Release Cadence Survey 2022 is still running.

WHO SHOULD FILL THIS OUT: @kubernetesio project contributors. Users of Kubernetes. Staff of companies that use, resell, and/or host Kubernetes.

More quality inputs, lead to better outcomes.

https://www.surveymonkey.com/r/k8s-cadence-2022

[2022-03-31 13:54] chris-short commented on #161
To hell with it. I'll do it live.

[2022-03-31 13:54] #161 closed

[2022-03-31 16:02] AvineshTripathi opened #162 "tweet for new blog"
**Provide the actual tweet content between the commented colons**
This should go at 1pm Pacific time

As the 1.24 release approaches, here are some commonly asked concerns about how this release will affect your cluster and [how to prepare it for the new release](https://kubernetes.io/blog/2022/03/31/ready-for-dockershim-removal/)

[2022-03-31 16:57] #162 closed

[2022-04-07 16:05] Debanitrkl opened #164 "Tweet regarding removal and deprecations blog"
**Provide the actual tweet content between the commented colons**

The removals and deprecation blog for k8s v1.24 release is out, with major removals like docker-shim lined up for this cycle do check the blog post for more details. https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/

[2022-04-07 16:35] #164 closed

[2022-04-09 19:35] #115 closed

[2022-04-12 20:02] #116 closed

[2022-04-12 23:37] kaslin opened #166 "v1.24 release delay"
**Provide the actual tweet content between the commented colons**

The Kubernetes v1.24 release has been delayed by 2 weeks to May 3rd. Be sure to check the release docs on Github for the latest timeline. https://github.com/kubernetes/sig-release/tree/master/releases/release-1.24

[2022-04-14 16:11] kaslin opened #168 "KubeCon EU 2022 Contrib Summit"
**Provide the actual tweet content between the commented colons**

Want to meet your fellow contributors at KubeCon EU in Valencia? Register for the Contributor Summit on Monday, May 16th at the Feria! After, a Contributor Social will be held at La Casa de la Mar. Bus transport for summit->social provided. https://k8s.dev/summit

[2022-04-14 17:20] #168 closed

[2022-04-15 16:32] reylejano opened #170 "Add Kubernetes 1.25 Shadow App Open Tweet"
**Provide the actual tweet content between the commented colons**

The Kubernetes v1.25 Release Team shadow application is now open until April 29
https://forms.gle/X9R3SjToUyb5BqAi9

[2022-04-15 16:55] jeremyrickard commented on #170
/retitle Add Kubernetes 1.24 Shadow App Open Tweet

[2022-04-15 16:56] jeremyrickard commented on #170
/retitle Add Kubernetes 1.25 Shadow App Open Tweet

[2022-04-15 16:57] jeremyrickard commented on #170
ooops.... it's 1.25 :)

/honk

[2022-04-15 17:40] kaslin commented on #170
/lgtm
/approve

[2022-04-15 17:41] #170 closed

[2022-04-15 17:44] kaslin commented on #170
There was a spacing issue, so I sent it but then deleted it and replaced it with fixed spacing: https://twitter.com/K8sContributors/status/1515022814528516100

[2022-04-18 16:00] AvineshTripathi opened #172 "tweet for community meeting"
**Provide the actual tweet content between the commented colons**

The monthly community meeting is this week. Join us at 10am PT Thursday to have discussion with upstream contributors on topics like annual reports, team lead separation, and more. Meeting notes: http://bit.ly/k8scommunity #Kubernetes #K8s

[2022-04-18 16:04] #172 closed

[2022-04-27 17:20] chris-short opened #174 "Tweet about Contributor Summit EU 2022 Registration Window"
**Provide the actual tweet content between the commented colons**

Friendly reminder, registration for the Kubernetes Contributor Summit EU 2022 closes on 13 May 2022 https://k8s.dev/summit #KubeCon

[2022-04-27 17:30] #174 closed, assigned to nobody

[2022-04-27 17:31] chris-short opened #175 "Tweet About KCS EU '22"
**Provide the actual tweet content between the commented colons**

Friendly reminder, registration for the Kubernetes Contributor Summit EU 2022 closes on 13 May 2022 https://k8s.dev/summit #KubeCon

[2022-04-27 19:39] #175 closed

[2022-04-28 19:54] reylejano opened #177 "Add Kubernetes 1.24 Shadow App Extended Tweet"
**Provide the actual tweet content between the commented colons**

The Kubernetes v1.25 Release Team shadow application is extended to May 6.
The #Kubernetes Release Team is a great way to start contributing to the @kubernetesio project.
https://forms.gle/X9R3SjToUyb5BqAi9

[2022-04-28 19:59] jeremyrickard commented on #177
👍

[2022-04-28 19:59] #177 closed

[2022-04-29 02:53] csantanapr opened #179 "Add Tweet about Twitter Space for release shadow program"
**Provide the actual tweet content between the commented colons**

Join the Kubernetes Team on this Twitter Space on April 29th at 10AM PST to learn more about how you can become a shadow for the next major version of Kubernetes v1.25 https://twitter.com/i/spaces/1dRKZleNdzVJB

[2022-04-29 13:49] #179 closed

[2022-05-03 18:02] kaslin opened #181 "Dockershim: The Historical Context Blog"
**Provide the actual tweet content between the commented colons**

The 1.24 release is imminent! This release removes Dockershim, a change that has caused significant confusion. The community has created a number of communications to clarify. Check out today's blog post "Dockershim: The Historical Context" for more. https://kubernetes.io/blog/2022/05/03/dockershim-historical-context/

[2022-05-03 19:43] kaslin commented on #181
Lgtm'd via slack and pushed manually due to twitter together limitations.

[2022-05-03 19:43] #181 closed

[2022-05-06 14:01] rajula96reddy opened #182 "Automate kubernetes.io blog posts into tweet PRs"
We have been discussing integration of [kubernetes.io](kubernetes.io) blog with our current twitter workflow through [RSS feeds](https://kubernetes.io/feed.xml?rss) for a while now

After experimenting with a couple of existing actions, here is the solution I would like to propose

1. We would like to use the upstream https://github.com/guilhem/rss-issues-action action which can query a given RSS

[2022-05-06 14:09] rajula96reddy commented on #182
/sig contributor-experience

[2022-05-09 17:19] pnbrown opened #183 "Unconference Topic Submission Location"
**Provide the actual tweet content between the commented colons**

We're looking forward to welcoming you at the Kubernetes Contributor Summit! We're using a GitHub issue to take submissions and votes of topics. You can participate in the issue even if you aren't attending https://github.com/kubernetes/community/issues/6633

[2022-05-09 17:51] #183 closed

[2022-05-18 18:27] Debanitrkl opened #185 "Tweet regarding v1.24 feature blog of volume populators"
**Provide the actual tweet content between the commented colons**

The volume populators feature is now two releases old and entering beta in v1.24 release, check out the following blog for more info.
https://kubernetes.io/blog/2022/05/16/volume-populators-beta/

[2022-05-18 18:31] Debanitrkl opened #187 "Tweet regarding v1.24 feature blog of volume mode conversion"
**Provide the actual tweet content between the commented colons**

The v1.24 release introduces a new alpha-level feature that prevents unauthorised volume mode conversion, check out the following blog for more info.
https://kubernetes.io/blog/2022/05/18/prevent-unauthorised-volume-mode-conversion-alpha/

[2022-05-19 05:58] #187 closed

[2022-05-24 11:59] #185 closed

[2022-05-25 04:50] reylejano opened #189 "Tweet for 1.24 Release Webinar"
**Provide the actual tweet content between the commented colons**

Learn about the major features, deprecations and removals in the #Kubernetes 1.24 release with the @kubernetesio 1.24 Release Team in the Kubernetes 1.24 Release Webinar.
https://youtu.be/TNo22-a27oY

[2022-05-25 10:33] fsmunoz opened #191 "Tweet for contributor hint on hwo to squash commits with Prow/Tide"
**Provide the actual tweet content between the commented colons**

Worried about squashing your commits? Prow and Tide got you covered! Read on how you're a Github command away from automating all that through the power of the "tide/merge-method-squash" label https://chrisshort.net/prow-and-tide-for-kubernetes-contributors/

[2022-05-25 14:40] chris-short commented on #189
/lgtm

/approve

[2022-05-25 16:03] #191 closed

[2022-05-26 12:57] #189 closed

[2022-05-30 05:53] Debanitrkl opened #193 "Tweet Regarding group mentoring in SIG CLI and SIG Apps"
**Provide the actual tweet content between the commented colons**

Interested to contribute to Kubernetes, but worried about getting started? Our maintainers from sig-apps and sig-cli have come up with the group mentoring session to help folks grow as a contributor. For more information: https://github.com/kubernetes/community/issues/6665

[2022-06-01 15:55] #193 closed

[2022-06-02 17:39] parispittman opened #195 "annual report summary broadcast"
**Provide the actual tweet content between the commented colons**

Kubernetes Annual Report Summary 2021 is now live! Calling our 70k contributors, participating co's,& new contributors: attn to Help Wanted section! Celebrate with us in the accolades&read our themes! RT
https://k8s.io/blog/2022/06/01/annual-report-summary-2021/

[2022-06-02 17:44] dims commented on #195
LGTM

[2022-06-02 17:51] parispittman commented on #195
/validate

[2022-06-02 17:53] parispittman commented on #195
/validate

[2022-06-02 18:30] #195 closed

[2022-06-02 19:20] Atharva-Shinde opened #197 "Update the broken links"
In the README.md file of this repo there are few broken links that needs to be updated with the new ones

- [ ] Under the **Kubernetes Contributor Tweets** section :

- [ ] Under the **Contribute** section:

[2022-06-02 19:23] Atharva-Shinde commented on #197
/good-first-issue

[2022-06-03 02:36] ssavi-ict commented on #197
Hello @Atharva-Shinde, I am here to see the tag "_good first issue_". I have a little knowledge about Open Source Contribution. However, I was trying to figure out WHICH link to replace the mentioned [SIG Contribex Marketing Team](https://github.com/kubernetes/community/tree/main/communication/marketing-team) link.

Seems like I am not able to get it. Could you please help me to mention which link

[2022-06-03 12:29] Atharva-Shinde commented on #197
hey @ssavi-ict

Yes!

And you can find the meeting link [here](https://github.com/kubernetes/community/tree/master/sig-contributor-experience#contributor-comms) under contributor-comms meetings section :) (it's accessible to everyone!)
This is the meeting url  https://zoom.us/j/596959769?pwd=TURBNlZPb3BEWVFmbWlCYXlMVVJiUT09

[2022-06-03 14:07] Atharva-Shinde commented on #197
/assign @ssavi-ict

[2022-06-04 04:02] ssavi-ict commented on #197
Hi, @Atharva-Shinde I have initiated PR #199 . Please review it at your feasible time.
Thank you.

[2022-06-10 19:13] #197 closed

[2022-06-13 16:27] reylejano opened #200 "Tweet for 1.25 Enhancements Freeze Delay"
**Provide the actual tweet content between the commented colons**

Enhancements Freeze for the Kubernetes v1.25 release cycle is delayed to June 23.
Read more on this GitHub discussion:
https://github.com/kubernetes/sig-release/discussions/1933

[2022-06-13 16:28] reylejano commented on #200
/cc @cici37

[2022-06-13 16:29] cici37 commented on #200
Thanks for taking care of this!

[2022-06-13 16:59] csantanapr opened #202 "Kubernetes office hours announcement for June 2022"
**Provide the actual tweet content between the commented colons**

Don't miss #Kubernetes office hours this Wednesday
This month's guest is @dims, joining our host @csantanapr to talk about SIG K8s Infra
https://www.youtube.com/watch?v=T_hRSyAFS8A

Send as soon as possible, Today (Monday June 13th) or tomorrow (Tuesday 14th)

[2022-06-13 17:52] Atharva-Shinde commented on #202
/lgtm

[2022-06-15 16:21] #200 closed

[2022-06-15 19:12] AvineshTripathi opened #204 "June community meeting tweet"
**Provide the actual tweet content between the commented colons**

Join us for the first monthly contributors' community meeting since KubeCon EU at 10a Pacific Time on Thursday 16 June 2022 to discuss registries, the annual report, and some KubeCon EU meeting topics. Find the agenda and more information at http://bit.ly/k8scommunity-ro.

[2022-06-16 12:08] #204 closed

[2022-06-18 18:16] Atharva-Shinde commented on #202
done!
/close

[2022-06-18 18:16] #202 closed

[2022-06-23 19:51] paulohgontijoo opened #207 "Want to be a contributor of Kubernetes Project"
Hello, people! I am a Software Engineer student, new here and want to contribute with Kubernetes Projects.

[2022-06-24 06:32] Debanitrkl commented on #207
Hi  @paulohgontijoo thanks for your interest but raising an github issue is not the correct way to begin with, please go through the [contributor guide](https://www.kubernetes.dev/docs/guide/) for more information.

[2022-06-24 06:33] Debanitrkl commented on #207
/close

[2022-06-24 06:33] #207 closed

[2022-06-24 06:35] Debanitrkl opened #208 "Tweet Regarding SIG- API Machinery(Help Wanted: Annual Contributor Report 2021)"
**Provide the actual tweet content between the commented colons**

Interested to contribute to API in Kubernetes? SIG API Machinery is looking for help in Client Libraries, Triaging of issues and active contributors to grow into contributor ladder roles.
Find more info here: https://github.com/kubernetes/community/tree/master/sig-api-machinery

[2022-06-24 16:34] Atharva-Shinde opened #210 "Kubernetes 1.25 Release Enhancement Freeze"
**Provide the actual tweet content between the commented colons**

The Enhancement Freeze for Kubernetes 1.25 Release is now in effect from 23rd June. Here is the detailed timeline for Kubernetes 1.25 Release Cycle ➡️ https://github.com/kubernetes/sig-release/tree/master/releases/release-1.25

[2022-06-24 16:34] Atharva-Shinde commented on #210
cc @kaslin

[2022-06-24 16:38] #210 closed

[2022-06-27 22:54] #208 closed

[2022-06-28 04:47] Debanitrkl opened #212 "Tweet Regarding SIG- Apps(Help Wanted: Annual Contributor Report 2021)"
**Provide the actual tweet content between the commented colons**

Sig Apps is looking for active contributors to grow their pool of reviewers, for more information join the SIG Apps/SIG CLI Review club, https://groups.google.com/g/kubernetes-sig-apps/c/aTymvEPd2y0/m/HbqV7NiZBAAJ

[2022-06-28 04:47] Debanitrkl commented on #212
/assign @kaslin

[2022-06-29 01:54] #212 closed

[2022-07-03 16:03] fsmunoz opened #214 "2021 Anual Report: intro tweet"
**Provide the actual tweet content between the commented colons**

In 2021 we had a lot of improvements in Kubernetes: find many of them and much more on our recently published 2021 Annual Report! https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md

[2022-07-03 16:08] fsmunoz opened #216 "2021 Annual report tweets: election process"
**Provide the actual tweet content between the commented colons**

Kubernetes maturity is not in code alone: in 2021 we have adopted Elekto https://elekto.dev/ for a secure, transparent, gitops-based election process. Check the full report at https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md#feature-maturity-and-stability

[2022-07-03 16:12] fsmunoz opened #218 "2021 Annual Report tweets: Monthly Community Meetings"
**Provide the actual tweet content between the commented colons**

Community involvement in Kubernetes is about trust and transparency. In 2021 we rebooted our Monthly Community Meetings to include discussions. Full report at  https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-03 16:21] fsmunoz opened #220 "2021 Annual Report: Supply-chain security"
**Provide the actual tweet content between the commented colons**

In 2021 we saw sustained efforts to improve supply-chain security in Kubernetes: in the Annual Report read on how SIG Release, SIG Auth and SIG Security worked steadily on it https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md

[2022-07-03 16:27] fsmunoz opened #222 "2021 Annual Report: help needed"
**Provide the actual tweet content between the commented colons**

Do you know what were the areas that Kubernetes SIGs and Work Groups identified as needing help? Read the 2021 Annual Report and find what you can do to join the community! https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md#help-wanted

[2022-07-05 07:16] debacm commented on #214
https://twitter.com/K8sContributors/status/1532429719777443840?s=20&t=bpSj0UrMSXhvZQOuOsi0Gg, this tweet is already posted.

[2022-07-05 07:19] Debanitrkl commented on #214
https://twitter.com/K8sContributors/status/1532429719777443840?s=20&t=bGVZFJ7VvQR2NUhIoopI_Q, sorry but this tweet is already done.

[2022-07-05 07:21] Debanitrkl commented on #214
/close

[2022-07-05 07:21] #214 closed

[2022-07-05 14:17] fsmunoz commented on #222
/validate

[2022-07-05 14:45] AvineshTripathi opened #224 "2022 Ingress NGINX survey tweet"
**Provide the actual tweet content between the commented colons**
This should go out wednesday 7am IST

The 2022 Ingress NGINX community survey is now available! Share with us your hopes for upcoming releases and what features you want the project to work on. Here is a link to it: https://www.surveymonkey.com/r/ingressngx2022

[2022-07-05 14:59] fsmunoz commented on #222
/validate

[2022-07-05 18:00] jberkus commented on #224
/lgtm

[2022-07-05 18:15] #220 closed

[2022-07-06 09:30] fsmunoz opened #226 "2021 Annual Report: WG Data protection"
**Provide the actual tweet content between the commented colons**

Data protection in #Kubernetes spans multiple domains: the Data Protection WG issued a whitepaper that identified missing blocks & solutions. Read about it in the 2021 Annual Report:  https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md#wg-data-protection-1

[2022-07-06 13:56] fsmunoz opened #228 "2021 Annual Report: WG Structured Logging"
**Provide the actual tweet content between the commented colons**

Logs are an essential aspect of observability and a critical tool for debugging in Kubernetes. Read about the progress WG Structured Logging did in the 2021 Annual Report Summary https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md#wg-structured-logging-1

[2022-07-06 15:00] #224 closed

[2022-07-06 21:33] fsmunoz commented on #222
/validate

[2022-07-08 02:29] #226 closed

[2022-07-12 00:30] #222 closed

[2022-07-14 07:58] #228 closed

[2022-07-14 16:24] #216 closed

[2022-07-15 10:10] fsmunoz commented on #218
/validate

[2022-07-15 10:36] fsmunoz opened #230 "2021 Annual Report: community involvement, SIG Docs & SIG CLI"
**Provide the actual tweet content between the commented colons**

Improved contributor involvement is a key goal of the project. Check how SIG Docs and SIG CLI improved the contributor experience and leadership transition strategy in the 2021 report: https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-15 10:46] fsmunoz opened #232 "2021 Annual Report: security improvements"
**Provide the actual tweet content between the commented colons**

Security improvements in Kubernetes touched many different areas, including end-user security documentation, how pod credentials are handled, and how certificates are managed. Read the details in the 2021 Annual Report https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-15 13:56] fsmunoz opened #234 "2021 Annual Report: SIG Storage"
Whether in fixing bugs, creating tests, writing docs, or enhancing CSI release tools, there’s a lot you can do to help in SIG Storage! Get involved & find out more in the Kubernetes 2021 Annual Report https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-15 14:28] #230 closed, assigned to nobody

[2022-07-18 18:52] chris-short commented on #114
/reopen

I think we still want to do this. Right @kaslin?

@pnbrown Is the Zapier account able to help us here? We'd want to generate a Tweet using a mailing list; not sure if that's feasible without plugging in someone's user account.

[2022-07-19 13:20] #218 closed

[2022-07-20 12:16] csantanapr opened #236 "Kubernetes office hours announcement for July 2022"
**Provide the actual tweet content between the commented colons**

Don't miss #Kubernetes office hours today
This month's guests are @reylejano and @PuDiJoglekar, joining our host @csantanapr to talk about SIG Security
https://www.youtube.com/watch?v=7eTEXSawbm4

I totally forgot about this tweet, can we tweet this today Wednesday July 20th before 8AM PST
cc @chris-short

[2022-07-20 12:57] AvineshTripathi commented on #236
/lgtm

[2022-07-21 08:24] fsmunoz opened #238 "2021 Annual Report: SIG Security"
**Provide the actual tweet content between the commented colons**

Want to contribute to Kubernetes? Interested in security? The SIG Security docs subproject has been where many have merged their first Kubernetes PR, & it’s a great opportunity to learn. Read how in the 2021 Annual Report https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-21 08:34] fsmunoz opened #240 "2021 Annual Report: SIG K8s Infra"
SIG K8s Infra help wanted tweet

If infrastructure automation is something you’re interested in, SIG K8s Infra is looking for help with build tools to automate the project infrastructure. Check the 2021 Annual Report and learn how to get involved https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-22 14:33] #234 closed

[2022-07-25 20:42] #113 closed

[2022-07-29 10:08] fsmunoz opened #242 "2021 Annual Report: SIG Scalability"
**Provide the actual tweet content between the commented colons**

Interested in scalability & Kubernetes? We have good news! SIG Scalability is looking for contributors across all their subprojects, with some especially suitable for newcomers. Read it in the 2021 Annual Report https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-29 10:18] fsmunoz opened #244 "2021 Annual Report: SIG Scheduling"
**Provide the actual tweet content between the commented colons**

The Kubernetes scheduler is highly configurable - but what if you could simulate it? Enter SIG Scheduling's Scheduler Simulator, and it's looking for reviewers and approvers. Check the 2021 Annual Report & get involved https://www.cncf.io/reports/kubernetes-annual-report-2021/

[2022-07-29 23:59] #232 closed

[2022-08-01 16:06] #238 closed

[2022-08-02 05:54] #240 closed

[2022-08-02 17:50] reylejano opened #246 "Tweet for 1.25 Code Freeze"
**Provide the actual tweet content between the commented colons**

Code freeze starts for the v1.25 release cycle at 18:00 PDT August 2, 2022 (01:00 UTC 3rd August 3, 2022 ), please make sure your PRs to k/k have merged or in queue (with approve & lgtm) before this, if you missed the deadline, you can file an exception request.

[2022-08-02 18:08] cici37 commented on #246
/lgtm

[2022-08-03 01:28] reylejano commented on #246
Closing this issue in favor for a tweet announcing that Code Freeze has started
/close

[2022-08-03 01:29] #246 closed

[2022-08-03 01:37] reylejano opened #248 "Tweet for 1.25 Code Freeze"
**Provide the actual tweet content between the commented colons**

Code freeze for the v1.25 release cycle has started. If you missed the deadline and want to progress an enhancement for v1.25, you can file an exception request. Learn about exceptions here https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2022-08-03 01:39] reylejano commented on #248
cc: @cici37
/assign @kaslin

[2022-08-03 01:40] reylejano commented on #248
Shorted tweet since original tweet exceeded max tweet length
/validate

[2022-08-03 18:05] #248 closed

[2022-08-05 09:11] Debanitrkl opened #250 "Tweet regarding mid cycle removals and deprecation blog"
**Provide the actual tweet content between the commented colons**

The removals and deprecation blog for k8s v1.25 release cycle is out, with major removals like PodSecurityPolicy lined up for this cycle do check the blog post for more details. https://kubernetes.io/blog/2022/08/04/upcoming-changes-in-kubernetes-1-25/

[2022-08-05 12:51] #250 closed

[2022-08-05 14:41] #242 closed

[2022-08-05 15:43] chris-short opened #252 "Tweet on Spotlight on SIG Docs"
**Provide the actual tweet content between the commented colons**

Documentation is the go-to source for any open source project. For Kubernetes, it's a Special Interest Group (SIG) with people putting in their efforts to make details about the project easier to consume. Read more in our SIG Spotlight https://kubernetes.io/blog/2022/08/02/sig-docs-spotlight-2022/ #Kubernetes #K8s

[2022-08-05 15:44] #252 closed

[2022-08-05 16:09] #244 closed

[2022-08-15 16:40] Atharva-Shinde commented on #236
closing the issue as the meeting happened on 20th of July.
/close

[2022-08-15 16:40] #236 closed

[2022-08-17 07:29] Debanitrkl opened #253 "Tweet regarding meet our contributor blog post"
**Provide the actual tweet content between the commented colons**

#ICYMI Here's a blog post on a few of the many active kubernetes contributors from China region, read to know more about their experience as a contributor and how they have helped the project grow, https://www.k8s.dev/blog/2022/08/15/meet-our-contributors-china-ep-03/

[2022-08-17 08:27] Debanitrkl commented on #253
/validate

[2022-08-17 20:13] #114 closed

[2022-08-17 21:27] jberkus opened #255 "Tweet for Slack Inviter being down"
**Provide the actual tweet content between the commented colons**

The Kubernetes slack inviter, slack.k8s.io, is currently down and being fixed. More information can be found here: https://groups.google.com/a/kubernetes.io/g/dev/c/PUbvQfK2Ito

[2022-08-17 21:32] #255 closed

[2022-08-19 15:37] palnabarun opened #257 "Tweet about Kubernetes 1.26 Release Team shadow applications"
Shadow application for the Kubernetes 1.26 Release Team is now open! 🎉

Read more about it here: https://groups.google.com/a/kubernetes.io/g/dev/c/SNkNRfzBTHA/m/jx_tgCD2AgAJ

[2022-08-19 22:08] kaslin commented on #257
/lgtm

[2022-08-19 22:09] #257 closed

[2022-08-19 22:22] jberkus opened #259 "[Please change the title]"
**Provide the actual tweet content between the commented colons**

The broken Kubernetes Slack inviter has been swapped out thanks to the k8s-infra team.  Community members may now join using slack.k8s.io again.

[2022-08-19 22:23] jberkus commented on #259
Saved too soon, closing.
/close

[2022-08-19 22:23] #259 closed

[2022-08-19 22:25] jberkus opened #261 "Tweet that Slack inviter is fixed"
**Provide the actual tweet content between the commented colons**

The broken Kubernetes Slack inviter has been swapped out, and we are now using communityinviter.  You can join using slack.k8s.io once again.

[2022-08-20 00:15] #261 closed

[2022-09-02 04:44] gracenng opened #263 "1.26 Enhancements Board Update"
**Provide the actual tweet content between the commented colons**

🚧 Changes to the v1.26 release opt-in process 🚧

The enhancements sheet with be replaced with an automated Github board.  SIG lead only, apply `lead-opt-in` label on KEPs to opt-in.

Find us on Slack at release-enhancements for help!

cc @reylejano @rhockenbury @leonardpahlke

[2022-09-02 04:54] gracenng commented on #263
Enhancements tracking migration: https://github.com/kubernetes/sig-release/issues/2009

[2022-09-02 15:44] reylejano commented on #263
@gracenng
I think there is a typo:

[2022-09-02 15:48] reylejano commented on #263
(non-blocking) Also suggest something like:

📣 Changes to the v1.26 release enhancements opt-in process 📣
For 1.26, the enhancements sheet is replaced with a Github projects board.
To opt-in for 1.26, SIG leads apply the `lead-opt-in` label on the KEP issue.

/cc @palnabarun @rhockenbury @leonardpahlke @gracenng

[2022-09-02 16:32] leonardpahlke commented on #263
I like this suggestion. I would send the tweet out after we send the email. Then we could include a link in the email that gives more details.

[2022-09-02 19:26] palnabarun opened #265 "Reminder for 1.26 Release Team Shadow Applications"
**Provide the actual tweet content between the commented colons**

📣 Kubernetes 1.26 Release Team Shadow Applications are closing soon at the September 2nd End of Day Anywhere on Earth! 📣

To apply, go here: https://bit.ly/k8s126-shadow-form

[2022-09-02 19:39] reylejano commented on #265
/lgtm

[2022-09-02 19:48] #265 closed

[2022-09-02 21:00] #263 closed

[2022-09-09 15:46] Rishit-dagli opened #267 "Contributor tip tweet on squashing commits"
**Provide the actual tweet content between the commented colons**

Contributor Tip☸️

Squashing commits might be a bit confusing if there is a merge commit in your PRs

Rebase starting with the SHA of the first commit git you need; pick the 1 commit, and squash all the other commits (you'll see more commits expanded from the merge commit)

[2022-09-09 15:47] Rishit-dagli commented on #267
This was discussed in the ContribEx meetings, here is the agenda for reference: https://docs.google.com/document/d/1KDoqbw2A6W7rLSbIRuOlqH8gkoOnp2IHHuV9KyJDD2c/edit?usp=sharing

[2022-09-09 16:05] Rishit-dagli commented on #267
/validate

[2022-09-09 17:07] Rishit-dagli commented on #267
Closing since this will be submitted for approval on Buffer

[2022-09-09 17:07] #267 closed

[2022-09-26 14:13] imnmo opened #269 "Upgrade twitter-together V2"
Since the new versions are being released https://github.com/twitter-together/action

More info: https://github.com/marketplace/actions/twitter-together

It's better to upgrade our actions

[2022-09-26 14:13] imnmo commented on #269
/assign

[2022-09-30 15:46] #269 closed

[2022-10-03 15:04] #182 closed

[2022-10-12 04:12] imnmo opened #272 "Fix validate commnd"
After making any changes to the issue labeled kind/tweet we need to run */validate* command to update the related PR, but it doesn't seem to work as desired.

I can see the issue here: https://github.com/kubernetes-sigs/contributor-tweets/pull/268

Note: This issue is occurring sporadically

[2022-10-12 04:12] imnmo commented on #272
/assign

[2022-10-13 13:21] imnmo commented on #272
/validate

[2022-10-13 13:24] imnmo commented on #272
/validate

[2022-10-13 13:32] imnmo commented on #253
/validate

[2022-10-13 13:34] imnmo commented on #272
/close

[2022-10-13 13:38] imnmo commented on #253
/close

[2022-10-13 13:39] imnmo commented on #272
/reopen

[2022-10-14 17:16] #272 closed

[2022-10-15 06:51] Atharva-Shinde commented on #253
/validate

[2022-10-15 06:52] Atharva-Shinde commented on #253
trying after the fix #273

[2022-10-15 06:53] Atharva-Shinde commented on #253
trying after the potential fix #273

[2022-10-15 06:55] Atharva-Shinde commented on #253
trying after potential fix at #273

[2022-10-15 08:09] Atharva-Shinde opened #274 "Testing Validate Command after #273 merged"
**Provide the actual tweet content between the commented colons**

This is a test TweetThis is a test Tweet

https://github.com/kubernetes-sigs/contributor-tweets/issues/274#tasklist-block-55f904ee-97ea-4169-afd0-098f2e9da2c2

[2022-10-15 08:14] Atharva-Shinde commented on #274
the job was skipped for some reason

[2022-10-15 08:14] Atharva-Shinde commented on #274
/validate

[2022-10-15 08:15] Atharva-Shinde commented on #274
worked! now with exceeding char limit tweet

[2022-10-15 08:16] Atharva-Shinde commented on #274
/validate

[2022-10-15 08:17] Atharva-Shinde commented on #274
great!
now changing back and validating

[2022-10-15 08:17] Atharva-Shinde commented on #274
/validate

[2022-10-15 08:21] Atharva-Shinde opened #276 "Testing:2 Validate Command [PLEASE IGNORE]"
**Provide the actual tweet content between the commented colons**

Did this worked?

[2022-10-15 08:23] Atharva-Shinde commented on #276
the job was skipped again

[2022-10-15 08:23] Atharva-Shinde commented on #276
/validate

[2022-10-15 08:25] Atharva-Shinde commented on #276
now updating the issue with a tweet within char-limit

[2022-10-15 08:25] Atharva-Shinde commented on #276
/validate

[2022-10-15 08:49] Atharva-Shinde commented on #274
I cross-checked on my fork just wanted to surface it here

[2022-10-15 11:02] Atharva-Shinde commented on #274
/validate

[2022-10-15 11:05] Atharva-Shinde commented on #274
/validate

[2022-10-15 11:43] Atharva-Shinde commented on #274
I had cross-checked on my fork
1. Now a tweet PR isn't automatically generated unless we `/validate` on a Issue
2. It's still not working as expected

[2022-10-15 11:43] Atharva-Shinde commented on #274
I had cross-checked on my fork just wanted to re-surface it here
1. Now a tweet PR isn't automatically generated unless we `/validate` on a Issue
2. It's still not working as expected

[2022-10-15 11:44] Atharva-Shinde commented on #274
I had cross-checked on my fork and wanted to re-surface it here
1. Now a tweet PR isn't automatically generated unless we `/validate` on a Issue
2. It's still not working as expected

[2022-10-15 11:52] Atharva-Shinde commented on #274
I had cross-checked on my fork and wanted to re-surface it here
1. Now a tweet PR isn't automatically generated unless we `/validate` on an issue
2. It's still not working as expected

[2022-10-15 12:37] Atharva-Shinde commented on #274
ref: https://github.com/Atharva-Shinde/contributor-tweets/issues/5

[2022-10-15 12:37] Atharva-Shinde commented on #274
I've made few changes and its working here ref: https://github.com/Atharva-Shinde/contributor-tweets/issues/5

[2022-10-15 12:41] Atharva-Shinde commented on #274
would make a PR soon

[2022-10-15 14:02] Atharva-Shinde commented on #274
I cross-checked on my fork and wanted to re-surface it here
1. A tweet PR isn't automatically generated unless we `/validate` on an issue
2. It's still not working as expected on this repo not even once (if its supposed to be working sporadically)
3. But is totally working on my fork. Always.
ref: with changes of [#273](#273):- [here](https://github.com/Atharva-Shinde/contributor-tweets/issues/19)

[2022-10-15 14:04] Atharva-Shinde commented on #274
I cross-checked on my fork and wanted to re-surface it here
1. With #273 merged, now a tweet PR isn't automatically generated unless we `/validate` on an issue
2. It's still not working as expected on this repo not even once (if its supposed to be working sporadically)
3. But is totally working on my fork. Always.
ref: with changes of [#273](#273):- [here](https://github.com/Atharva-Shinde/contrib

[2022-10-15 16:30] Atharva-Shinde commented on #274
I cross-checked on my fork and wanted to re-surface it here
1. With #273 merged, now a tweet PR isn't automatically generated unless we `/validate` on an issue
2. It's still not working as expected on this repo
3. But is totally working on my fork. Always.
ref: with changes of [#273](#273):- [here](https://github.com/Atharva-Shinde/contributor-tweets/issues/19)
without changes of [#273](#273):- [h

[2022-10-15 16:43] Atharva-Shinde commented on #274
I cross-checked on my fork and wanted to re-surface it here.
1. With #273 merged, now a tweet PR isn't automatically generated unless we `/validate` on an issue
2. It's still not working as expected on this repo.
3. But is totally working on my fork. Always.
ref: with changes of [#273](#273):- [here](https://github.com/Atharva-Shinde/contributor-tweets/issues/19)
without changes of [#273](#273):-

[2022-10-17 04:39] Atharva-Shinde commented on #276
/validate

[2022-10-17 04:56] Atharva-Shinde commented on #276
/close

[2022-10-17 04:56] #276 closed

[2022-10-17 06:12] Atharva-Shinde opened #278 "Validate command not working as desired"
Expected behaviour:
When a tweet within character-limit is created in an Issue, an automated PR from GitHub-action bot is created. Now if the author updates the Issue description with some new changes in the tweet, they should comment `/validate` to validate it again. If the tweet is within character limit, it will trigger the workflow and the bot will update the PR with the new tweet.

Current be

[2022-10-17 08:38] Atharva-Shinde commented on #278
We could try updating GitHub actions(github/checkout, actions/setup-node and twitter-together/action) and node of our workflow to the latest versions, as node 12 is deprecated and also the actions we are using in this workflow supports node 16.

[2022-10-17 08:45] Atharva-Shinde commented on #278
We could try updating GitHub actions(actions/checkout, actions/setup-node and twitter-together/action) and node of our workflow to the latest versions, as node 12 is deprecated and also the actions we are using in this workflow supports node 16. ref: https://github.com/actions/checkout/issues/417

[2022-10-17 08:47] imnmo commented on #278
Thanks for the findings @Atharva-Shinde
To clarify: the job is failing due to a dependency error (latest node 12). Hence, the expected behavior for updating tweets is not happening?

[2022-10-17 10:47] Atharva-Shinde commented on #278
actions/checkout@v2 had some bugs with tokens and now with node 12 being deprecated, updating the workflow to latest versions can be a first step towards fixing the command if not being the only reason to fail the job :)
Also do refer to this [comment](https://github.com/kubernetes-sigs/contributor-tweets/issues/274#issuecomment-1279780721 ) I made while testing

[2022-10-17 10:49] Atharva-Shinde commented on #278
actions/checkout@v2 had some bugs with tokens and now with node 12 being deprecated, updating the workflow to latest versions can be a first step towards fixing the command if not being the only reason causing the failure of jobs :)
Also do refer to this [comment](https://github.com/kubernetes-sigs/contributor-tweets/issues/274#issuecomment-1279780721 ) I made while testing

[2022-10-17 13:04] imnmo commented on #278
I observed this strange behavior a while ago. Let's see with node upgrade things go better

[2022-10-19 13:48] chris-short commented on #274
@Atharva-Shinde We should probably setup some time to look into this together. More eyes are better usually. With KubeCon upon us, this week and next are pretty much toast (unless you're going to be in town).

[2022-10-19 14:19] Atharva-Shinde commented on #274
I Agree @chris-short ! Just wanted to get the ball rolling as it's been hanging around for a long time now. IMO this Issue could be the test issue to test our workflow so that there's no need to wait for creating new tweet issue every time we want to test the workflow. I've also setup an [issue](https://github.com/kubernetes-sigs/contributor-tweets/issues/278) so that we can keep track of this in

[2022-10-21 12:11] imnmo opened #280 "KEP List"
**Provide the actual tweet content between the commented colons**

Are you curious to track or search for enhancements within K8s? Then check out our new Kubernetes Enhancement Proposals (KEPs) list here: https://www.kubernetes.dev/resources/keps/

[2022-10-21 12:12] imnmo commented on #280
/validate

[2022-10-21 12:17] imnmo commented on #274
@chris-short @Atharva-Shinde this merge didn't solve the problem and I see new file changes after the merge. See here:

[2022-10-21 12:21] imnmo commented on #278
@Atharva-Shinde https://github.com/kubernetes-sigs/contributor-tweets/issues/278 merge didn't solve the problem and I see new file changes after the merge. See here: https://github.com/kubernetes-sigs/contributor-tweets/pull/281/files

[2022-10-21 13:33] Atharva-Shinde commented on #278
thats how currently the workflow **should** perform,

[2022-10-21 14:01] Atharva-Shinde commented on #278
That is how workflow is supposed to perform and that's not where the problem is,
if you try to update the tweet issue with some new changes and `/validate` again, (in the working state) it should automatically update your pr with new changes, and this is where the error occurs, in current state it is not updating PR with newest change that the author makes.

[2022-10-21 14:01] Atharva-Shinde commented on #278
@imnmo That is how workflow is supposed to perform and that's not where the problem is,
if you try to update the tweet issue with some new changes and `/validate` again, (in the working state) it should automatically update your pr with new changes, and this is where the error occurs, in current state it is not updating PR with newest change that the author makes.

[2022-10-21 14:46] Atharva-Shinde commented on #278
@imnmo That is how workflow is supposed to perform and that's not where the problem is,
if you try to update the tweet issue with some new changes and `/validate` again, (in the working state) it should automatically update your pr with new changes, and this is where the error occurs (or was occurring).

So try changing your tweet issue and lets see if its working or is still broken

[2022-10-21 15:00] imnmo commented on #280
/validate

[2022-10-21 15:09] imnmo commented on #280
/validate

[2022-10-21 15:17] Atharva-Shinde commented on #280
/validate